<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/stars.css">

<a href="/farmer/jobs" class = "btn btn-success mr-3 mb-3 ">&#x2B9C; Back</a>

<div class="row">
    <div class="col-md-6">
        
        <div class="card mb-3 border-success shadow mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= job.name%></h5>
                <p class="card-text"><%= job.description%></p>
                <h3 class="card-text"><span>&#8377;</span><%= job.wage %>/day</h3>
                <h3 class="card-text"><%= job.city %></h3>
                
                <% let skills = job.skills.split(",").slice(0,-1); %>

                <%for (let skill of skills) { %>
                    <p class = "btn btn-warning"><b><%= skill %></b></p>

                <% } %> 


            <div class = "mb-3 d-flex flex-row">
                <a class=" btn btn-info mr-3" href="/farmer/jobs/<%=job._id%>/edit">Edit Job</a>
                <form action="/farmer/jobs/<%=job._id%>?_method=DELETE" method="POST">
                    <button class="btn btn btn-danger">Close Job</button>
                </form>
            </div>

            </div>
            

        </div>

        <div class="card mb-3 card-body border-success shadow mb-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Available positions - </b><%= job.quantity%></li>
                <li class="list-group-item"><b>Daily wage - </b><span>&#8377;</span><%= job.wage%></li>
                <li class="list-group-item"><b>Farm Owner - </b><%= job.farmer.username%></li>
                
                <li class="list-group-item"><b>Farm Owner Contact- </b><%= job.farmer.contact%></li>
                <li class="list-group-item"><h4>Farm Location</h4></li>
    
                <li class="list-group-item"><b>Landmark - </b><%= job.landmark%></li>
                <li class="list-group-item"><b>City/Village - </b><%= job.city%></li>
                 
            </ul>
            </div>
    

    </div>
    <div class="col-md-6">
        
        
        <div class = "mb-3">

            <h3>Applicants</h3>

            <div class = "anyClass">

            

            <% for(application of applications) { %>

                <div class = "card mb-3 border-success shadow mb-3">

                    <div class="card-body">
                        <h5 class="card-title"><%= application.worker.username%></h5>
                        <h5 class="card-text"><%= application.worker.age%></h5>
                        <h5 class="card-text"><%= application.worker.gender %></h5>
                        <h5 class="card-text text-success"><%= application.status %></h5>

                        <% let skillsWorker = application.worker.skills.split(",").slice(0,-1); %>

                        <%for (let skill of skillsWorker) { %>
                        
                            <p class = "btn btn-outline-danger"><b><%= skill %></b></p>

                        <% } %> 
                        <div class = "mb-3">
                            <a class=" btn btn-primary" href="/farmer/jobs/<%=application._id%>/hire">Hire</a>
                            <a class=" btn btn-danger" href="/farmer/jobs/<%=application._id%>/decline">Decline</a>

                        </div>
                        




                        
                    </div>
                    
                    
                </div>


            <% } %>

        </div>

           

        </div>
        
    </div>
    
</div>